        {% include 'header.html'%}
        {% load static %}
        
        <!-- Hello! Start -->
        <div class="container-fluid position-relative py-5" id="weddingAbout">
            <div class="position-absolute" style="top: -35px; right: 0;">
                <img src="{% static 'img/tamp-bg-1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="position-absolute" style="top: -10px; left: 0; transform: rotate(150deg);">
                <img src="{% static 'img/tamp-bg-1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="container position-relative py-5">
                <div class="mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800;">
                    <h1 class="text-primary display-1">Hello!</h1>
                    <h4 class="text-dark mb-0">
                        {% if about_info %}
                            {{ about_info.love_story_summary|default:"We invite you to celebrate our wedding" }}
                        {% else %}
                            We invite you to celebrate our wedding
                        {% endif %}
                    </h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="d-flex">
                                    <div class="text-end my-auto pe-4">
                                        <h3 class="text-primary mb-3">
                                            {% if bride %}
                                                {{ bride.name }}
                                            {% else %}
                                                Evelyn
                                            {% endif %}
                                        </h3>
                                        <p class="text-dark mb-0" style="line-height: 30px;">
                                            {% if bride %}
                                                {{ bride.description }}
                                            {% else %}
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% if bride and bride.image %}
                                        <img src="{{ bride.image.url }}" class="img-fluid img-border" alt="{{ bride.name }}">
                                    {% else %}
                                        <img src="{% static 'img/bride.jpg' %}" class="img-fluid img-border" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fa fa-heart fa-5x text-primary"></i>
                               </div>
                            </div>
                            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="d-flex">
                                    {% if groom and groom.image %}
                                        <img src="{{ groom.image.url }}" class="img-fluid img-border" alt="{{ groom.name }}">
                                    {% else %}
                                        <img src="{% static 'img/Groom.jpg' %}" class="img-fluid img-border" alt="">
                                    {% endif %}
                                    <div class="my-auto ps-4">
                                        <h3 class="text-primary mb-3">
                                            {% if groom %}
                                                {{ groom.name }}
                                            {% else %}
                                                Anthony
                                            {% endif %}
                                        </h3>
                                        <p class="text-dark mb-0" style="line-height: 30px;">
                                            {% if groom %}
                                                {{ groom.description }}
                                            {% else %}
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hello! End -->

        {% include 'footer.html' %}