        {% include 'header.html'%}
        {% load static %}
        
        <!-- Gallery Start -->
        <div class="container-fluid gallery position-relative py-5" id="weddingGallery">
            <div class="position-absolute" style="top: -95px; right: 0;">
                <img src="{% static 'img/tamp-bg-1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="position-absolute" style="top: -80px; left: 0; transform: rotate(150deg);">
                <img src="{% static 'img/tamp-bg-1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="container position-relative py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h1 class="display-2 text-dark">Wedding Gallery</h1>
                    <p class="fs-5 text-dark">Capturing the beautiful moments of our journey together</p>
                </div>
                {% if gallery_images %}
                <div class="row g-4">
                    {% for image in gallery_images %}
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">
                        <div class="gallery-item">
                            <div class="gallery-img">
                                <img class="img-fluid w-100" src="{{ image.image.url }}" alt="{{ image.title|default:'Wedding Gallery' }}">
                                <div class="hover-style"></div>
                                <div class="search-icon">
                                    <a href="{{ image.image.url }}" data-lightbox="Gallery-{{ forloop.counter }}" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                                </div>
                            </div>
                            <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                                <h5>{{ image.title|default:'Wedding Gallery' }}</h5>
                                <p class="text-dark mb-0">{{ image.uploaded_at|date:'F j, Y' }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="row g-4">
                    {% for i in "12345678"|make_list %}
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.{{ forloop.counter }}s">
                        <div class="gallery-item">
                            <div class="gallery-img">
                                <img class="img-fluid w-100" src="{% static 'img/gallery-'|add:i|add:'.jpg' %}" alt="">
                                <div class="hover-style"></div>
                                <div class="search-icon">
                                    <a href="{% static 'img/gallery-'|add:i|add:'.jpg' %}" data-lightbox="Gallery-{{ forloop.counter }}" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                                </div>
                            </div>
                            <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                                <h5>Wedding Gallery</h5>
                                <p class="text-dark mb-0">Beautiful Moments</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Gallery end -->

        {% include 'footer.html' %}